# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-dependencies.lock
.flutter-versions

# VS Code
.vscode/

# Android
android/.gradle/
android/local.properties
*.iml

# iOS (kalau ada)
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec

# macOS (kalau ada)
macos/Flutter/ephemeral/

# Linux (kalau ada)
linux/flutter/ephemeral/

# Web (kalau ada)
web/.dart_tool/

# Windows (kalau ada)
windows/flutter/ephemeral/

# Others
*.log
*.lock
